body {
    background: linear-gradient(to right, #55AED4, #280752);
}

header {
    display: flex;
    align-items: center;
}

header img {
    border-radius: 100%;
}

.titel-header{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    font-family: Open sans-serif;
    align-items: center;
}