body {
    background: linear-gradient(to right, #55AED4, #280752);
    margin: 0;
}

header {
    margin-top: 10px;
    display: flex;
    align-items: center;  
    
}

header img {
   border-radius: 100%;
   justify-content: left;
}

.titel-header{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    font-family: Open sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: -55px;
}

.all hr {
    margin-top: 1%;
    height: 2px;
    background-color: black;
    border: none;
}