body {
    background: linear-gradient(to right, #55AED4, #280752);
    margin: 0;
}

header {
    margin-top: 10px;
    display: flex;
    align-items: center;  
    text-align: center;
}

header img {
   border-radius: 100%;
   justify-content: left;
}

.titel-header{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    font-family: Open sans-serif;
    text-align: center;
    position: relative;
    left:  35%;
}

hr {
    margin-top: 1%;
    height: 2px;
    background: black;
    border: none;
}

.part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info1 {
    font-size: 25px;
    font-weight: 700;
    margin-left: 30px;
}

.promo video{
border-radius: 5%; 
margin-right: 30px;
}